@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(248, 242, 245);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  height: 100vh;
  max-width: 320px;
  max-height: 640px;
  overflow: hidden;
  overflow-y: auto;
  border-radius: 20px;
  background-color: #0D0D15;
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  color: #fff;
  margin: 2rem auto;
  box-shadow: rgba(100, 100, 100, 0.5) 0px 0px 20px;
}

/* Search button */
.search-btn {
  position: absolute;
  top: 0;
  right: 0;
  width: 6rem;
  height: 4rem;
  border-radius: 0 0 0 1rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #FF0A3C 15.66%, #DE1854 88.58%);
  box-shadow: 4px -4px 8px rgba(222, 24, 84, 0.25);
}
.next-btn{
  position: sticky;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 4rem;
  border-radius: 1rem 1rem 0 0;
  background: linear-gradient(180deg, #FF0A3C 15.66%, #DE1854 88.58%);
  box-shadow: 4px -4px 8px rgba(222, 24, 84, 0.25);
}
.carrusel{
  position: relative;
  width: cal(100% - 8rem);
  height: 230px;
}
.search-btn img{
  width: 2rem;
  height: 2rem;
}

.logo {
  position: relative;
  padding-top: 1.5rem;
  padding-left: 1.5rem;
}

.venue-icon {
  width: 1.4rem;
}
.float-menu{
  width: cal(100% -8rem);
  height: 3.5rem;
  border-radius: 0.5rem;
  top:0;
  left: 0;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: rgba(100, 100, 100, 0.5) 0px 0px 20px;
  background: linear-gradient(180deg, #FF0A3C 15.66%, #DE1854 88.58%);
  box-shadow: 4px -4px 8px rgba(222, 24, 84, 0.25);
}
.menu-container{
  background: linear-gradient(0deg, rgba(13, 13, 21, 0.95) 20%, rgba(13, 13, 21, 0) 80%);
  position: fixed;
  width: 100%;
}
.menu-venue h1{
  color: #fff;
  font-size: 1.5rem;
}
.menu-venue .menu-venue-item{
  width: 95%;
  height: 3rem;
  text-align: left;
  border-bottom: 1px solid #fff;
}
.menu-venue{
  min-height: 700px;
}
.movie-body{
  width: cal(100% - 8rem);
  padding: 2rem;
  padding-bottom: 0;
}
.border-blue{
  margin: 1rem 0;
  border: 1px solid #0047FF;
  width: 100%;
}
.select-time-item {
  padding: 0.2rem 0.5rem;
  border: 1px solid #949494;
  border-radius: 0.5rem;
  color: #949494;
  margin: .5rem;
}
.select-time-item.selected{
  color: #fff;
  font-weight: 700;
  background: linear-gradient(180deg, #FF0A3C 15.66%, #DE1854 88.58%);
  border: none;
}
.date-button{
  width: 100%;
  height: 3rem;
  padding: .8rem;
  border-radius: 0.5rem;
  background: linear-gradient(180deg, #FF0A3C 15.66%, #DE1854 88.58%);
  box-shadow: 4px -4px 8px rgba(222, 24, 84, 0.25);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.tickets-container{
  width: 100%;
  height: 100vh;
  padding: 2rem;
}
.tickets-footer{
  border-top: 1px solid #0047FF;
}
.selected{
  border: 1px solid #0047FF;
}
.movie-body h1{
  font-size: 1.5rem;
  color: #fff;
}
.modal-overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.modal-container{
  position: relative;
  width: 1280px;
  height: 720px;
  background: #0D0D15;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.2rem;
  z-index: 101;
}
.modal-container iframe{
  width: 100%;
  height: 100%;
}
.modal-container .modal-header{
  position: absolute;
  top: 0px;
  right: 0px;
}

.modal-header img{
  width: 1.2rem;
  height: 1.2rem;
}
@media screen and (max-width: 768px) {
  #root {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    overflow: scroll;
    border-radius: 0;
    margin: 0;
    
  }
  .movie-header{
    overflow: hidden;
    max-height: 300px;
  }
  .movie-item img{
    width: 100%;
  }
  .next-btn{
    position: fixed;
    width: 50%;
    border-radius: 1rem 0 0 0;
  }
  .movie-body{
    padding-bottom: 6rem;
  }

  .modal-container{
    width: 90%;
    height: 40vh;
  }
}